<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Connection</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Protocol:</string>
			<key>Key</key>
			<string>protocol</string>
			<key>DefaultValue</key>
			<string>iap</string>
			<key>Titles</key>
			<array>
				<string>TCP/IP auto</string>
				<string>iPod Accessory</string>
				<string>TCP/IP Local Host</string>
				<string>TCP/IP Specified</string>
			</array>
			<key>Values</key>
			<array>
				<string>tcpa</string>
				<string>iap</string>
				<string>tcpl</string>
				<string>tcps</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>TCP/IP</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>192.168.0.1</string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>ipaddress</string>
			<key>KeyboardType</key>
			<string>NumbersAndPunctuation</string>
			<key>Title</key>
			<string>IP Address:</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>12345</string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>port</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>Title</key>
			<string>Port:</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>App Registration</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>SmartDeviceLinkTester</string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>appname</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>Title</key>
			<string>App Name:</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>123456789</string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>appid</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>Title</key>
			<string>App Id:</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>SmartDeviceLinkTester</string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>ttsname</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>Title</key>
			<string>TTS Name:</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>TTS Type:</string>
			<key>Key</key>
			<string>ttstype</string>
			<key>DefaultValue</key>
			<string>Text</string>
			<key>Values</key>
			<array>
				<string>text</string>
				<string>sapi</string>
				<string>lhp</string>
			</array>
			<key>Titles</key>
			<array>
				<string>Text</string>
				<string>SAPI Phonemes</string>
				<string>LH+ Phonemes</string>
			</array>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>SmartDeviceLinkTester, SDLT</string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>vrsynonyms</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>Title</key>
			<string>VR Syns:</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Type:</string>
			<key>Key</key>
			<string>type</string>
			<key>DefaultValue</key>
			<string>Media</string>
			<key>Values</key>
			<array>
				<string>media</string>
				<string>nonmedia</string>
			</array>
			<key>Titles</key>
			<array>
				<string>Media</string>
				<string>Non-Media</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Language:</string>
			<key>Key</key>
			<string>language</string>
			<key>DefaultValue</key>
			<string>EN-US</string>
			<key>Values</key>
			<array>
				<string>EN-US</string>
				<string>ES-MX</string>
				<string>FR-CA</string>
				<string>DE-DE</string>
				<string>ES-ES</string>
				<string>EN-GB</string>
				<string>RU-RU</string>
				<string>TR-TR</string>
				<string>PL-PL</string>
				<string>FR-FR</string>
				<string>IT-IT</string>
				<string>SV-SE</string>
				<string>PT-PT</string>
				<string>NL-NL</string>
				<string>EN-AU</string>
				<string>ZH-CN</string>
				<string>ZH-TW</string>
				<string>JA-JP</string>
				<string>AR-SA</string>
				<string>KO-KR</string>
				<string>PT-BR</string>
				<string>CS-CZ</string>
				<string>DA-DK</string>
				<string>NO-NO</string>
			</array>
			<key>Titles</key>
			<array>
				<string>EN-US</string>
				<string>ES-MX</string>
				<string>FR-CA</string>
				<string>DE-DE</string>
				<string>ES-ES</string>
				<string>EN-GB</string>
				<string>RU-RU</string>
				<string>TR-TR</string>
				<string>PL-PL</string>
				<string>FR-FR</string>
				<string>IT-IT</string>
				<string>SV-SE</string>
				<string>PT-PT</string>
				<string>NL-NL</string>
				<string>EN-AU</string>
				<string>ZH-CN</string>
				<string>ZH-TW</string>
				<string>JA-JP</string>
				<string>AR-SA</string>
				<string>KO-KR</string>
				<string>PT-BR</string>
				<string>CS-CZ</string>
				<string>DA-DK</string>
				<string>NO-NO</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>HMI Language:</string>
			<key>Key</key>
			<string>hmilanguage</string>
			<key>DefaultValue</key>
			<string>EN-US</string>
			<key>Values</key>
			<array>
				<string>EN-US</string>
				<string>ES-MX</string>
				<string>FR-CA</string>
				<string>DE-DE</string>
				<string>ES-ES</string>
				<string>EN-GB</string>
				<string>RU-RU</string>
				<string>TR-TR</string>
				<string>PL-PL</string>
				<string>FR-FR</string>
				<string>IT-IT</string>
				<string>SV-SE</string>
				<string>PT-PT</string>
				<string>NL-NL</string>
				<string>EN-AU</string>
				<string>ZH-CN</string>
				<string>ZH-TW</string>
				<string>JA-JP</string>
				<string>AR-SA</string>
				<string>KO-KR</string>
				<string>PT-BR</string>
				<string>CS-CZ</string>
				<string>DA-DK</string>
				<string>NO-NO</string>
			</array>
			<key>Titles</key>
			<array>
				<string>EN-US</string>
				<string>ES-MX</string>
				<string>FR-CA</string>
				<string>DE-DE</string>
				<string>ES-ES</string>
				<string>EN-GB</string>
				<string>RU-RU</string>
				<string>TR-TR</string>
				<string>PL-PL</string>
				<string>FR-FR</string>
				<string>IT-IT</string>
				<string>SV-SE</string>
				<string>PT-PT</string>
				<string>NL-NL</string>
				<string>EN-AU</string>
				<string>ZH-CN</string>
				<string>ZH-TW</string>
				<string>JA-JP</string>
				<string>AR-SA</string>
				<string>KO-KR</string>
				<string>PT-BR</string>
				<string>CS-CZ</string>
				<string>DA-DK</string>
				<string>NO-NO</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Version</string>
			<key>FooterText</key>
			<string>SmartDeviceLinkTester 2.0</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Build Info</string>
			<key>FooterText</key>
			<string>SmartDeviceLinkTester 2.0</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
